<br>
<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-outline-primary" routerLink="/passer-commande">Passer comande</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Numero</th>
      <th scope="col">Date</th>
      <th scope="col">Montant total</th>
      <th scope="col">Produits</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>CMD01</td>
      <td>05/11/2021 20:01</td>
      <td>15.20</td>
      <td>
        <ul class="list-group">
          <li class="list-group-item">Produit 1 (2 article) : montant 12.20</li>
          <li class="list-group-item">Produit 2 (1 article) : mantant 3.00</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>CMD02</td>
      <td>05/11/2021 14:15</td>
      <td>20.00</td>
      <td>
        <ul class="list-group">
          <li class="list-group-item">Produit 5 (2 article) : montant 12.00</li>
          <li class="list-group-item">Produit 9 (1 article) : mantant 3.00</li>
          <li class="list-group-item">Produit 8 (1 article) : mantant 5.00</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>CMD03</td>
      <td>06/11/2021 18:25</td>
      <td>40.50</td>
      <td>
        <ul class="list-group">
          <li class="list-group-item">Produit 4 (2 article) : montant 40.50</li>
          
        </ul>
      </td>
    </tr>
  </tbody>
</table>
