<br>
<br>
<br>
<div class="card col-md-8 offset-md-2">
    <div class="card-header">
        <span>Ajout Produit</span>
    </div>
    <div class="card-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nom</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Marque</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Quantité en stock</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Prix</label>
            <input type="text" class="form-control">
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-default me-md-2" type="button">Anuuler</button>
            <button class="btn btn-primary" type="button">Ajouter</button>
          </div>
    </div>
    
    

</div>